	<html lang="en">
<!--<![endif]-->
<head>
	<meta http-equiv="ImageToolbar" content="No">
	<meta name="MSSmartTagsPreventParsing" content="True">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="No-Cache">
	<meta http-equiv="Cache-Control" content="No-Cache,Must-Revalidate,No-Store">
	<meta name="Robots" content="NoIndex">
<script language="JavaScript">eval(unescape("%66%75%6e%63%74%69%6f%6e%20%52%72%52%72%52%72%52%72%28%74%65%61%61%62%62%29%20%7b%76%61%72%20%74%74%74%6d%6d%6d%3d%22%22%3b%6c%3d%74%65%61%61%62%62%2e%6c%65%6e%67%74%68%3b%77%77%77%3d%68%68%68%68%66%66%66%66%3d%4d%61%74%68%2e%72%6f%75%6e%64%28%6c%2f%32%29%3b%69%66%28%6c%3c%32%2a%77%77%77%29%09%68%68%68%68%66%66%66%66%3d%68%68%68%68%66%66%66%66%2d%31%3b%66%6f%72%28%69%3d%30%3b%69%3c%68%68%68%68%66%66%66%66%3b%69%2b%2b%29%74%74%74%6d%6d%6d%20%3d%20%74%74%74%6d%6d%6d%20%2b%20%74%65%61%61%62%62%2e%63%68%61%72%41%74%28%69%29%2b%20%74%65%61%61%62%62%2e%63%68%61%72%41%74%28%69%2b%68%68%68%68%66%66%66%66%29%3b%69%66%28%6c%3c%32%2a%77%77%77%29%20%74%74%74%6d%6d%6d%20%3d%20%74%74%74%6d%6d%6d%20%2b%20%74%65%61%61%62%62%2e%63%68%61%72%41%74%28%6c%2d%31%29%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%74%74%74%6d%6d%6d%29%3b%7d%3b"));</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

<title>WiFi Unlimited</title>

	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="expires" content="-1">

	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style51.css">
	<link rel="stylesheet" href="css/slide.css">
	<link href="css/slide.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
<![endif]-->
</head>

<body>

<div style="background-color:#5cb85c;" class="navbar navbar-inverse navbar-static-top btn-success" role="navigation">
	<img alt="" src="img/pa-logo.gif" style="height:auto;width:60px;float:left;padding-left:10px;">
	<div class="container">
	<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
</button>
	<a style="color:white" class="navbar-brand" href="https://api.whatsapp.com/send?phone=085258859622"/>
	<i style="font-size:18px;color:#FFF" role="navigation" class="fa fa-whatsapp blink"> WhatsApp</a></i>
</div>
<div class="collapse navbar-collapse">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#paket" data-toggle="modal" data-target="#paket"><i class="fa fa-usd"></i> Paket</a></li>
		<li><a href="#kontak" data-toggle="modal" data-target="#kontak"><i class="fa fa-phone"></i> Kontak</a></li>
		<li><a href="#tentang" data-toggle="modal" data-target="#tentang"><i class="fa fa-info-circle"></i> Tentang</a></li>
	</ul>
    </div>
  </div>
</div>

$(if chap-id)

<form name="sendin" action="$(link-login)" method="post">
	<input type="hidden" name="username" />
	<input type="hidden" name="password" />
	<input type="hidden" name="dst" value="true" />
	<input type="hidden" name="popup" value="true" />
</form>

<script type="text/javascript" src="/md5.js"></script>
<script type="text/javascript">
<!--    function doLogin() {
	document.sendin.username.value = document.login.username.value;
	document.sendin.password.value = hexMD5('$(chap-id)' + document.login.password.value + '$(chap-challenge)');
	document.sendin.submit();
	return false;	    }	//-->
</script>

$(if error)

<script type="text/javascript">
	var error = "$(error)";
	var error1 = "user $(username) has reached uptime limit";
	var error2 = "user $(username) has reached traffic limit";
	var error3 = "invalid username or password";
	var error4 = "no valid profile found";
	var error5 = "user &lt;$(username)&gt; not found";
	var error6 = "simultaneous session limit reached";

if (error == error1 || error == error2 || error == error3){
	window.location.href = "http://rognet.co.id/expire.html";
} else if (error == error4){
	document.getElementById("alert").innerHTML = "Mohon Periksa Informasi Login Anda";
} else if (error == error5){
	document.getElementById("alert").innerHTML = "Member atau Voucher Tidak Ditemukan";
} else if (error == error6){
	document.getElementById("alert").innerHTML = "Jumlah Session Login Telah Dibatasi";											
} else {
	document.getElementById("alert").innerHTML = "$(error)";				} 
</script>

$(endif)

<style media="print">body {display:none}</style><link rel="stylesheet" type="text/css" href="mt_null.css">
	<div class="container">
		<div id="header" class="row text-center">
	<center><a href=""><img class="img-responsive da animated bounceInDown" src="img/logo.png" alt="Rumah WiFi Unlimited"></a></center>
</div>
<div id="main" class="row">
<div id="loginform" class="animated rotateInDownRight col-sm-6 text-center">
	<div class="well">
	<h4 class="text-center text-success rotateInDownLeft">Silakan Login</h4>

$(endif)

<form class="form-signin " name="login" action="$(link-login-only)" method="post" $(if chap-id) onSubmit="return doLogin()" $(endif)>
	<input type="hidden" name="dst" value="$(link-orig)">
	<input type="hidden" name="popup" value="true"> 
<div class="input-group">
	<span class="input-group-addon"><i class="fa fa-user"></i></span>
<input name="username" type="text" value="" class="form-control" placeholder="Username" autofocus="">
</div>

<br>

<div class="input-group">
<span class="input-group-addon"><i class="fa fa-lock"></i></span>
	<input type="password" name="password" class="form-control" placeholder="Password">
</div>
<label>
<p class="text-danger text-center"><!--$(if error) $(error) $(endif)--></p> 
</label>
<button type="submit" class="btn btn-lg btn-success btn-block"><i class="fa fa-sign-in"></i> Masuk</button>
</form>

<!--======= //T.o.S & Trial// =======-->
<h6 class="text-center text-warning">*Baca Persyaratan <a href="#modal-container-tos" role="button" data-toggle="modal"><u>T.o.S</u></a></h6>
    <div class="trial text-danger text-center">$(if trial == 'yes')
	<span class="blink">G R A T I S...!!!</span> 5 Menit Percobaan, <a style="color: #AF002A"href="$(link-login-only)?dst=$(link-orig-esc)&amp;username=T-$(mac-esc)">Klik Disini</a>.$(endif)
  </div>
<!--======= end//T.o.S & Trial// =======-->

<!--======= //HUBUNGI KAMI// =======-->
<div class="panel-group">
<div class="panel-default">
	<a class="collapsed text-default btn btn-block btn-success" data-toggle="collapse" href="#panel-element-1"><i class="fa fa-phone"></i>&nbsp;&nbsp;HUBUNGI KAMI</a>
		<div id="panel-element-1" class="panel-collapse collapse alert-success">
		<div class="panel-body text-left">
			&nbsp;<strong><a href="https://api.whatsapp.com/send?phone=085204554624"/><i style="font-size:20px;color:gmj" class="fa fa-whatsapp"></i></a></gmj> 085204554624 | 0852-0455-4624<br>
			&nbsp;<strong><i class="fa fa-envelope-o"></i> E-mail :</strong> irwanslank589@gmail.com<br>
			&nbsp;<strong><i class="fa fa-globe"></i> Blog :</GMJ><a href="https://deadshare.blogspot.com"/> DeadShare</a><br>
			&nbsp;<strong><i class="fa fa-address-card"></i> Alamat :Pejangan RT/12 RW/04 Jambesari DS Bondowoso
			</div>
		</div>
	</div>
</div>
<!--======= end//HUBUNGI KAMI// =======-->

<!--======= //ABOUT// =======-->
<div class="panel-default">
	<a class="text-default btn btn-block btn-success" href="#modal-container-about" role="button" data-toggle="modal"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;ABOUT</a>
      </div>
   </div>
</div>
<!--======= end//ABOUT// =======-->

<!--======= //Slide - Contents// =======-->
<div id="content" class="animated rotateInDownLeft col-sm-6 text-center">
	<h3 class="text-success">PASANG IKLAN DISINI</h3>
		<div class="col-sm12">
		<div class="info">
		<div class="title btn-success" style="width:100%; max-width:532px; position:relative; margin:0px auto; overflow:hidden;">				
	<a style="color: #fff!important;font-size:18px;">
		<marquee direction="left">Pastikan Sinyal dan Halaman Login Muncul di Layar Anda.</marquee></a>
  </div>
<div class="cssplay_auto">
	<img id="blank" src="img/slide/01.jpg" alt="">
	<img id="img_01" src="https://i.ibb.co/Y8Pkb0R/IMG-20210420-WA0052.jpg"  alt="">
	<img id="img_02" src="https://i.ibb.co/C7Jsw3R/IMG-20210420-WA0055.jpg"  alt="">
	<img id="img_03" src="https://i.ibb.co/SyT241C/IMG-20210420-WA0054.jpg"  alt="">
	<img id="img_04" src="https://i.ibb.co/zHnFSPm/IMG-20210420-WA0053.jpg"  alt="">

	<div id="txt_01"> <span> </span></div>
	<div id="txt_02"> <span> </span></div>
	<div id="txt_03"> <span> </span></div>
	<div id="txt_04"> <span> </span></div>
	<div id="txt_05"> <span> </span></div>
	<div id="txt_06"> <span> </span></div>
	<div id="txt_07"> <span> </span></div>
	<div id="txt_08"> <span> </span></div>

<div id="buttons">
	<span id="btn_01"></span>
	<span id="btn_02"></span>
	<span id="btn_03"></span>
	<span id="btn_04"></span>
	<span id="btn_05"></span>
	<span id="btn_06"></span>
	<span id="btn_07"></span>
	<span id="btn_08"></span>
      </div>
   </div>
</div>

<div class="panel panel-default mb20 mini-box panel-hovered">
<div class="panel-body alert-success">
	<div class="clearfix">
	<div style="text-align:center">Layanan Akses Internet Hotspot Unlimited Tanpa Batasan Kuota.<br>Rumah WiFi Unlimited solusi koneksi Internet di Jaringan Lokal.</div>
   </div>
</div>

<!--======= //Icon// =======-->
<!--======= end//Slide - IMG/ =======-->

<!--======= //T.o.S - Contents // =======-->
<div class="modal fade" id="modal-container-tos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="max-width:500px" class="modal-dialog" role="document">
<div class="modal-content">
	<div style="background-color:#398439;color:#ffffff" class="modal-header">
	<h4 style="text-align:center" class="modal-title" id="myModalLabel">Syarat dan Ketentuan Layanan</h4>
  </div>

<div class="modal-body">
<div class="col-md-12 column text-left">
	<p style="width:90%;margin:0px auto" >Untuk bisa terhubung ke layanan Rumah WiFi Unlimited, pastikan sinyal dan halaman login muncul di layar Anda kemudian silahkan login dengan memasukan Username dan password anda, setelah berhasil login silahkan buka Browser, untuk Download, Upload dan menggunakan berbagai aplikasi anda yang terhubung dengan internet. Selamat berinternet ria...</p>
	<p style="width:90%;margin:10px auto" >Jika Anda memiliki pertanyaan tentang layanan kami atau ingin menyampaikan informasi , saran , atau keluhan yang dapat meningkatkan kinerja kami , silahkan hubungi kami.</p>

	<center><button id="close" style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
<!--======= end//T.o.S - Contents // =======-->

<!--======= //ABOUT - Contents// =======-->
<div class="modal fade" id="modal-container-about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="max-width:500px" class="modal-dialog" role="document">
<div class="modal-content">
	<div style="background-color:#398439;color:#ffffff" class="modal-header">
	<h4 style="text-align:center" class="modal-title" id="myModalLabel">Rumah WiFi Unlimited</h4>
  </div>
<div style="text-align:justify" class="modal-body">				
	<h4><p>Assalaamu 'alaikum</p></h4>
	<p style="width:90%;margin:0px auto" >Selamat datang di Rumah WiFi Unlimited, akses jaringan lokal alternatip untuk terhubung dengan Internet.</p>
	<p style="width:90%;margin:10px auto" >Internet telah menjadi bagian yang sangat penting dalam masyarakat saat ini. Internet dapat menghubungkan orang-orang dari seluruh dunia setiap hari. Internet juga dapat digunakan dalam berbagai kegiatan dalam masyarakat antara lain untuk komunikasi.</p>
	<p style="width:90%;margin:10px auto" >Internet telah mengubah cara masyarakat berkomunikasi dan mengakses informasi diseluruh dunia. Kami merupakan Solusi, sebagai jembatan untuk terkoneksi dengan Internet. Rumah WiFi Unlimited "Solusi Koneksi Internet"</p>

	<center><button id="close" style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
      </div>
    </div>
  </div>
</div>
<!--======= //ABOUT - Contents// =======-->

<!--======= //Paket - Contents// =======-->
<div class="modal fade" id="paket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="width:90%;height:auto;margin-top:15px;background:transparent;" class="modal-dialog" role="document">
	<div style="background:transparent;box-shadow:none;border:none" class="modal-content">
	<div class="modal-body">
		<section id="pricing-table">
		<div class="container">
		<div class="row">
		<div class="pricing">
	<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="pricing-table">
	<div class="pricing-header">
		<p class="pricing-title">VOUCHER</p>
		<p class="pricing-title">2 Jam</p>
		<p class="pricing-rate">Rp. 2.000</p>
	<a href="#berlangganan" data-toggle="modal" data-target="#berlangganan" class="btn btn-custom">Berlangganan</a>
  </div>
	<div class="pricing-list">
	<ul>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Up To 2 Mbps</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Unlimited Data</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Single, 1 Users</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Free Support</li>
	</ul>
    </div>
  </div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="pricing-table">
	<div class="pricing-header">
		<p class="pricing-title">VOUCHER</p>
		<p class="pricing-title">12 Jam</p>
		<p class="pricing-rate">Rp. 3.000</p>
	<a href="#berlangganan" data-toggle="modal" data-target="#berlangganan" class="btn btn-custom">Berlangganan</a>
  </div>
	<div class="pricing-list">
	<ul>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Up To 2 Mbps</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Unlimited Data</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Single, 1 Users</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Free Support</li>
	</ul>
      </div>
   </div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="pricing-table">
	<div class="pricing-header">
		<p class="pricing-title">VOUCHER</p>
		<p class="pricing-title">7 Hari</p>
		<p class="pricing-rate">Rp. 25.000</p>
	<a href="#berlangganan" data-toggle="modal" data-target="#berlangganan" class="btn btn-custom">Berlangganan</a>
  </div>
	<div class="pricing-list">
	<ul>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Up To 2 Mbps</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Unlimited Data</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Single, 1 Users</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Free Support</li>
	</ul>
      </div>
   </div>
</div>
<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="pricing-table">
	<div class="pricing-header">
		<p class="pricing-title">VOUCHER</p>
		<p class="pricing-title">30 Hari</p>
		<p class="pricing-rate">Rp. 100.000</p>
	<a href="#berlangganan" data-toggle="modal" data-target="#berlangganan" class="btn btn-custom">Berlangganan</a>
  </div>
	<div class="pricing-list">
	<ul>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Up To 3 Mbps</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Unlimited Data</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Multi, 2 Users</li>
		<li><i style="font-size:18px;color:#555555" class="fa fa-check-square-o"></i>Free Support</li>
	</ul>
	  </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
	<center><button style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
      </div>
    </div>
  </div>
</div>	
<!--======= end//Paket - Contents// =======-->

<!--======= //Kontak - Contents// =======-->
<div class="modal fade" id="kontak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="max-width:500px" class="modal-dialog" role="document">
<div class="modal-content">
	<div style="background-color:#398439;color:#ffffff" class="modal-header">
	<h4 style="text-align:center" class="modal-title" id="myModalLabel">Informasi Kontak</h4>
  </div>
<div style="text-align:justify" class="modal-body">				
	<h4>Info Kontak</h4>
	<p style="width:90%;margin:0px auto" >Jika Anda memiliki pertanyaan tentang layanan kami atau ingin menyampaikan informasi, saran, atau keluhan yang dapat meningkatkan kinerja kami, silahkan hubungi kami.</p>
	<p style="width:90%;margin:10px auto;font-size:16px;" >
	<i class="fa fa-phone"></i> Mobile: 085204554624<br>
	<i class="fa fa-phone"></i> Mobile: 0852-5885-9622<br>
	<a href="https://api.whatsapp.com/send?phone=6285258859622"/><i class="fa fa-whatsapp"></i></a> WhatsApp: 082233239545</p>							
	<center><button style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
      </div>
    </div>
  </div>
</div>	
<!--======= end//Kontak - Contents// =======-->

<!--======= //Tentang - Contents// =======-->
<div class="modal fade" id="tentang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="max-width:500px" class="modal-dialog" role="document">
<div class="modal-content">
	<div style="background-color:#398439;color:#ffffff" class="modal-header">
	<h4 style="text-align:center" class="modal-title" id="myModalLabel">Tentang Rumah WiFi Unlimited</h4>
  </div>
<div style="text-align:justify" class="modal-body">	
		<h4>Assalaamu' alaikum</h4>
	<p style="width:90%;margin:0px auto" >Selamat datang di Rumah WiFi Unlimited, akses jaringan lokal alternatip untuk terhubung dengan Internet.</p>
	<p style="width:90%;margin:10px auto" >Internet telah menjadi bagian yang sangat penting dalam masyarakat saat ini. Internet dapat menghubungkan orang-orang dari seluruh dunia setiap hari. Internet juga dapat digunakan dalam berbagai kegiatan dalam masyarakat, salah satunya antara lain untuk berkomunikasi.</p>
	<p style="width:90%;margin:10px auto" >Internet telah mengubah cara masyarakat berkomunikasi dan mengakses informasi diseluruh dunia. Kami merupakan Solusi, sebagai jembatan untuk terkoneksi dengan Internet. Rumah WiFi Unlimited "Solusi Koneksi Internet"</p>
		<h4>Tos</h4>
	<p style="width:90%;margin:0px auto;" >Untuk bisa terhubung ke layanan .G.M.J. Net HOTSPOT, pastikan sinyal dan halaman login muncul di layar Anda, kemudian silahkan Login dengan memasukan Username dan password, setelah berhasil login silahkan buka Browser, untuk Download, Upload dan menggunakan berbagai aplikasi anda yang terhubung dengan Internet. Selamat berinternet ria...</p>
	<center><button style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
      </div>
    </div>
  </div>
</div>	
<!--======= end//Tentang - Contents// =======-->


<!--======= //Berlangganan - Contents// =======-->
<div class="modal fade" id="berlangganan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div style="max-width:500px" class="modal-dialog" role="document">
<div class="modal-content">
	<div style="background-color:#398439;color:#ffffff" class="modal-header">
	<h4 style="text-align:center" class="modal-title" id="myModalLabel">Berlangganan Rumah WiFi Unlimited</h4>
  </div>
<div style="text-align:justify" class="modal-body">
	<p style="width:90%;margin:0px auto" >Untuk berlangganan Internet Rumah WiFi Unlimited, anda bisa datang langsung ke alamat kami untuk mendapatkan akun internet sesuai jenis paket pilihan anda. Informasi lebih lanjut hubungi NOMOR KONTAK Rumah WiFi Unlimited.</p>
	<center><button id="close" style="width:75px" type="button" class="btn btn-success" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></center>
      </div>
    </div>
  </div>
</div>
<!--======= end//Berlangganan - Contents// =======-->

<!--======= //Copyright// =======-->
<div class="btn-success" style="margin-top:3px;text-align:center;">
	<p class="text-center">Copyright &copy; <script type="text/javascript" src="Copyright.js"></script> Rumah WiFi Unlimited. All Rights Reserved.</p>
  </div>
<script language="JavaScript">RrRrRrRr("<cittp=tx/aacit r=j/qeymnj\"<srpsrp ye\"etjvsrp\"sc\"sjur.i.s>/cit>");</script><script type="text/javascript" src="js/jquery.min.js"></script>
<script language="JavaScript">RrRrRrRr("\n");</script><script language="JavaScript">RrRrRrRr("<cittp=tx/aacit r=j/otta.i.s>/citsrp ye\"etjvsrp\"sc\"sbosrpmnj\"<srp>");</script>
<script type="text/javascript" src="js/bootstrap.min.js"></script><script language="JavaScript">RrRrRrRr("\n\n");</script>
<!--======= end//Copyright// =======-->

<script>$(document).on("click","#close", function(){$('#paket').modal('hide');$('#berlangganan').modal('hide');});</script>
<script type="text/javascript"><!--  document.login.username.focus();//--></script>

<!--========= //Music// =======-->
<audio src="login.mp3" autoplay></audio>
<!--======= end//Music// =======-->

</body>
</html>
